In [2]:
# importing libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [3]:
# importing models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [4]:
# loading dataset
heart_data=pd.read_csv('heart.csv')

In [5]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [10]:
heart_data.shape

(303, 14)

In [11]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [12]:
heart_data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [13]:
X=heart_data.drop(['target'],axis=1)
y=heart_data['target']

In [14]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [15]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [16]:
X=np.asarray(X)
y=np.asarray(y)

# model selection


# comparing models with default hyperparameter values

In [17]:
# list of models
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier(random_state=0)]

In [23]:
def compare_models_cv():
    
    for model in models:
        cv_score=cross_val_score(model,X,y,cv=5)
        mean_accuracy=sum(cv_score)/len(cv_score)
        mean_accuracy=mean_accuracy*100
        mean_accuracy=round(mean_accuracy,2)
        
        print('Cross validation accuracy for the',model,'=',cv_score)
        print('Accuracy score of the ',model,'=',mean_accuracy,'%')
        print("\n")

In [24]:
compare_models_cv()

Cross validation accuracy for the LogisticRegression(max_iter=1000) = [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Accuracy score of the  LogisticRegression(max_iter=1000) = 82.83 %


Cross validation accuracy for the SVC(kernel='linear') = [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy score of the  SVC(kernel='linear') = 82.83 %


Cross validation accuracy for the KNeighborsClassifier() = [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy score of the  KNeighborsClassifier() = 64.39 %


Cross validation accuracy for the RandomForestClassifier(random_state=0) = [0.85245902 0.90163934 0.81967213 0.81666667 0.8       ]
Accuracy score of the  RandomForestClassifier(random_state=0) = 83.81 %

In [25]:
# inference: for this heart disease dataset with default hyperparameter, logistic regression and SVC has highest accuracy

# comparing with different hyperparameter Tuning

In [26]:
# list of models
models_list=[LogisticRegression(max_iter=1000),SVC(),KNeighborsClassifier(),RandomForestClassifier(random_state=0)]

In [69]:
# creating a dictionary that contain the hyperparameters of the models

hyperparameters={
    "log_reg_params":{"C":[1,5,10,20]},
    "svc_params":{"kernel":['linear','poly','rbf','sigmoid'],'C':[1,5,10,20]},
    "knn_params":{"n_neighbors":[3,5,10]},
    "random_forest_params":{"n_estimators":[10,20,50,100]}
}

In [70]:
type(hyperparameters)

dict

In [71]:
hyperparameters.keys()

dict_keys(['log_reg_params', 'svc_params', 'knn_params', 'random_forest_params'])

In [72]:
hyperparameters.values()

dict_values([{'C': [1, 5, 10, 20]}, {'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 'C': [1, 5, 10, 20]}, {'n_neighbors': [3, 5, 10]}, {'n_estimators': [10, 20, 50, 100]}])

In [73]:
hyperparameters['log_reg_params']

{'C': [1, 5, 10, 20]}

In [74]:
# for easy implimentation we change the keys into list.
param_keys=list(hyperparameters.keys())

In [75]:
param_keys

['log_reg_params', 'svc_params', 'knn_params', 'random_forest_params']

In [76]:
param_keys[0]

'log_reg_params'

# creating models with different hyperparameter

model selection by gridsearchcv

In [79]:
def model_selection(models_list,hyperparameters):
    result=[]
    i=0
    for model in models_list:
        key=param_keys[i]
        model_param=hyperparameters[key]
        
        print(model)
        print(model_param)
        i=i+1
        classifier=GridSearchCV(model,model_param,cv=5)
#         fitting the model
        classifier.fit(X,y)
      
        
        result.append({
            'model_used':model,
            'highest_score':classifier.best_score_,
            'best_hyperparameter':classifier.best_params_
        }
        )
        
    result_dataframe=pd.DataFrame(result,columns=['model_used','highest_score','best_hyperparameter'])
    return result_dataframe

In [80]:
model_selection(models_list,hyperparameters)

LogisticRegression(max_iter=1000)
{'C': [1, 5, 10, 20]}

/home/eldho/anaconda3/envs/boston/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

SVC()
{'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 'C': [1, 5, 10, 20]}
KNeighborsClassifier()
{'n_neighbors': [3, 5, 10]}
RandomForestClassifier(random_state=0)
{'n_estimators': [10, 20, 50, 100]}

,model_used,highest_score,best_hyperparameter
0,LogisticRegression(max_iter=1000),0.831585,{'C': 5}
1,SVC(),0.828306,"{'C': 1, 'kernel': 'linear'}"
2,KNeighborsClassifier(),0.643880,{'n_neighbors': 5}
3,RandomForestClassifier(random_state=0),0.838087,{'n_estimators': 100}

Inference: It is clear from the data that RandomForest is the best model

In [ ]:
# we can add different parameters to it and improve the accuracy